

#image-preview-canvas-wrapper {
    position: relative;
    width: fit-content;
    height: fit-content;
}

#image-preview-canvas {
    max-width: 100%;
    max-height: 100%;
}

#image-preview-overlay-canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    max-width: 100%;
    max-height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    /* mobile webkit */
}



#color-bar-circle {
    z-index: 2;
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 99rem;
    border-style: solid;
    border-color: black;
    border-width: 0.1rem;
    pointer-events: none;
}