@import "tailwindcss";

@theme {
  --font-sans: 'Google Sans Flex', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

:host {
  font-family: 'Google Sans Flex', sans-serif;
  font-optical-sizing: auto;
}
